In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url='https://www.bbc.com/sport/olympics/paris-2024/medals'
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
webpage=requests.get(url,headers=headers).text

In [3]:
soup=BeautifulSoup(webpage,'html')

In [8]:
countries=soup.find_all('span',class_='ssrcss-ymac56-CountryName ew4ldjd0')

In [9]:
countries_list=[name.text for name in countries]

In [10]:
countries_list

['United States',
 'China',
 'Japan',
 'Australia',
 'France',
 'Netherlands',
 'Great Britain',
 'South Korea',
 'Italy',
 'Germany',
 'New Zealand',
 'Canada',
 'Uzbekistan',
 'Hungary',
 'Spain',
 'Sweden',
 'Kenya',
 'Norway',
 'Ireland',
 'Brazil',
 'Iran',
 'Ukraine',
 'Romania',
 'Georgia',
 'Belgium',
 'Bulgaria',
 'Serbia',
 'Czech Republic',
 'Denmark',
 'Azerbaijan',
 'Croatia',
 'Cuba',
 'Bahrain',
 'Slovenia',
 'Chinese Taipei',
 'Austria',
 'Hong Kong',
 'Philippines',
 'Algeria',
 'Indonesia',
 'Israel',
 'Poland',
 'Kazakhstan',
 'Jamaica',
 'South Africa',
 'Thailand',
 'Ethiopia',
 'Switzerland',
 'Ecuador',
 'Portugal',
 'Greece',
 'Argentina',
 'Egypt',
 'Tunisia',
 'Botswana',
 'Chile',
 'St Lucia',
 'Uganda',
 'Dominican Republic',
 'Guatemala',
 'Morocco',
 'Dominica',
 'Pakistan',
 'Turkey',
 'Mexico',
 'Armenia',
 'Colombia',
 'North Korea',
 'Kyrgyzstan',
 'Lithuania',
 'India',
 'Moldova',
 'Kosovo',
 'Cyprus',
 'Fiji',
 'Jordan',
 'Mongolia',
 'Panama',
 'Tajikistan',
 'Albania',
 'Grenada',
 'Malaysia',
 'Puerto Rico',
 'Cape Verde',
 'Ivory Coast',
 'Refugee Olympic Team',
 'Peru',
 'Qatar',
 'Singapore',
 'Slovakia',
 'Zambia',
 'Afghanistan',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Aruba',
 'Bahamas',
 'Bangladesh',
 'Barbados',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia-Herzegovina',
 'Brunei',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Djibouti',
 'DR Congo',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Finland',
 'Gabon',
 'Gambia',
 'Ghana',
 'Guam',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Iceland',
 'Iraq',
 'Kiribati',
 'Kuwait',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Micronesia',
 'Monaco',
 'Montenegro',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Oman',
 'Palau',
 'Palestine',
 'Papua New Guinea',
 'Paraguay',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Solomon Islands',
 'Somalia',
 'South Sudan',
 'Sri Lanka',
 'St Kitts and Nevis',
 'St Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Syria',
 'Tanzania',
 'East Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Turkmenistan',
 'Tuvalu',
 'United Arab Emirates',
 'Uruguay',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'British Virgin Islands',
 'American Virgin Islands',
 'Yemen',
 'Zimbabwe']

In [11]:
rank=soup.find_all('td',class_='ssrcss-fvkmzs-StyledTableData ef9ipf1')

In [12]:
rank_list=[ranks.text for ranks in rank[0::6]]

In [13]:
rank_list

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '30',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '37',
 '39',
 '39',
 '41',
 '42',
 '43',
 '44',
 '44',
 '44',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '52',
 '52',
 '55',
 '55',
 '55',
 '55',
 '59',
 '60',
 '60',
 '62',
 '62',
 '64',
 '65',
 '66',
 '66',
 '68',
 '68',
 '70',
 '71',
 '72',
 '73',
 '74',
 '74',
 '74',
 '74',
 '74',
 '79',
 '80',
 '80',
 '80',
 '80',
 '84',
 '84',
 '84',
 '84',
 '84',
 '84',
 '84',
 '84',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92',
 '92']

In [14]:
data_list=soup.find_all('td',class_='ssrcss-fvkmzs-StyledTableData ef9ipf1') #from here we can extract medal counts respectively

In [15]:
gold_list=[golds.text for golds in data_list[2::6]]

In [16]:
gold_list

['40',
 '40',
 '20',
 '18',
 '16',
 '15',
 '14',
 '13',
 '12',
 '12',
 '10',
 '9',
 '8',
 '6',
 '5',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [17]:
silver_list=[silvers.text for silvers in data_list[3::6]]

In [18]:
silver_list

['44',
 '27',
 '12',
 '19',
 '26',
 '7',
 '22',
 '9',
 '13',
 '13',
 '7',
 '7',
 '2',
 '7',
 '4',
 '4',
 '2',
 '1',
 '0',
 '7',
 '6',
 '5',
 '4',
 '3',
 '1',
 '1',
 '1',
 '0',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '5',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [19]:
bronze_list=[bronze.text for bronze in data_list[4::6]]

In [20]:
bronze_list

['42',
 '24',
 '13',
 '16',
 '22',
 '12',
 '29',
 '10',
 '15',
 '8',
 '3',
 '11',
 '3',
 '6',
 '9',
 '3',
 '5',
 '3',
 '3',
 '10',
 '3',
 '4',
 '2',
 '1',
 '6',
 '3',
 '1',
 '2',
 '5',
 '3',
 '3',
 '6',
 '1',
 '0',
 '5',
 '3',
 '2',
 '2',
 '1',
 '1',
 '1',
 '5',
 '3',
 '2',
 '2',
 '2',
 '0',
 '5',
 '2',
 '1',
 '6',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '2',
 '1',
 '1',
 '0',
 '0',
 '5',
 '2',
 '1',
 '1',
 '4',
 '4',
 '2',
 '5',
 '3',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [21]:
total_medals_list=[total.text for total in data_list[5::6]]

In [22]:
total_medals_list

['126',
 '91',
 '45',
 '53',
 '64',
 '34',
 '65',
 '32',
 '40',
 '33',
 '20',
 '27',
 '13',
 '19',
 '18',
 '11',
 '11',
 '8',
 '7',
 '20',
 '12',
 '12',
 '9',
 '7',
 '10',
 '7',
 '5',
 '5',
 '9',
 '7',
 '7',
 '9',
 '4',
 '3',
 '7',
 '5',
 '4',
 '4',
 '3',
 '3',
 '7',
 '10',
 '7',
 '6',
 '6',
 '6',
 '4',
 '8',
 '5',
 '4',
 '8',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '2',
 '3',
 '2',
 '2',
 '1',
 '1',
 '8',
 '5',
 '4',
 '4',
 '6',
 '6',
 '4',
 '6',
 '4',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '3',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [49]:
df=pd.DataFrame({'Rank':rank_list,
                 'Country':countries_list,
                 'Gold':gold_list,
                 'Silver':silver_list,
                'Bronze':bronze_list,
                 'Total Medals':total_medals_list
                })

In [50]:
df

    Rank                  Country Gold Silver Bronze Total Medals
0      1            United States   40     44     42          126
1      2                    China   40     27     24           91
2      3                    Japan   20     12     13           45
3      4                Australia   18     19     16           53
4      5                   France   16     26     22           64
..   ...                      ...  ...    ...    ...          ...
200   92                  Vietnam    0      0      0            0
201   92   British Virgin Islands    0      0      0            0
202   92  American Virgin Islands    0      0      0            0
203   92                    Yemen    0      0      0            0
204   92                 Zimbabwe    0      0      0            0

[205 rows x 6 columns]

In [44]:
df[df['Country']=='India']

   Rank Country Gold Silver Bronze Total Medals
70   71   India    0      1      5            6